.swNotice {
  padding: 40px 0;

  .notice {
    min-height: 735px;
    padding: 170px 63px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9);
    letter-spacing: 0;
    text-align: center;
    line-height: 14px;
    background-color: rgba(11, 19, 80, 0.56);

    img {
      margin-bottom: 50px;
    }

    &__body {
      font-size: 24px;
      color: #ffffff;
      letter-spacing: 0;
      text-align: center;
      line-height: 46px;
      margin-bottom: 24px;
    }

    &__return {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.6);
      letter-spacing: 0;
      text-align: center;
      line-height: 14px;
    }
  }
}
