[report]
omit =
  */site-packages/*
  */dist/*
  */build/*
  starwhale/cli/*
  starwhale/core/*/cli.py
show_missing = true
exclude_lines =
  pragma: no cover
  def __repr__
  def __str__
  raise NotImplementedError
  raise
  if __name__ == .__main__.:

[run]
relative_files = True