[report]
show_missing = true
exclude_lines =
  pragma: no cover
  def __repr__
  def __str__
  @abstractmethod
  raise NotImplementedError
  raise
  if __name__ == .__main__.:
  __all__
  if t.TYPE_CHECKING:
  if TYPE_CHECKING:
  if typing.TYPE_CHECKING:

[run]
relative_files = True
source =
  starwhale/
omit =
  */site-packages/*
  */dist/*
  */build/*
  starwhale/cli/board/*
  starwhale/cli/debug/*
  starwhale/cli/mngt.py
  starwhale/cli/config.py
  starwhale/cli/completion.py
  starwhale/core/*/cli.py