[flake8]
# H101: Use TODO(NAME)
# W503: line break before binary operator
# E203: whitespace before ':'
# E731: do not assign a lambda expression, use a def
# W605: invalid escape sequence '\#'
ignore= H101,W503,E203,E731,W605,C901
max-line-length = 200
max-complexity = 18
exclude =
    .eggs
    .egg-info
    .git
    .vscode
    .history
    .tox
    .mypy_cache
    .venv
    __pycache__
    venv
    build
    dist
    ../example/LLM/belle-bloom/BELLE/*
    starwhale/proto_gen 