# use e2e version
starwhale[serve]==${PYPI_RELEASE_VERSION}
# for pfp
pycocotools
# for ucf101
opencv-python-headless
# fixed versions
numpy==1.21.6; python_version=='3.7'
scikit-learn==1.0.2; python_version=='3.7'
scipy==1.7.3; python_version=='3.7'
numpy==1.23.2; python_version>='3.8'
scikit-learn==1.1.1; python_version>='3.8'
scipy==1.8.1; python_version>='3.8'
importlib-metadata>=4.0.0, <=4.2.0;python_version < '3.8'
torch==2.0.1; python_version>='3.8'
torch==1.13.1; python_version=='3.7'
torchaudio
torchdata
torchtext
torchvision
