@font-face {
  font-family: "iconfont"; /* Project id 3410006 */
  src: url('iconfont.woff2?t=1689660767619') format('woff2'),
       url('iconfont.woff?t=1689660767619') format('woff'),
       url('iconfont.ttf?t=1689660767619') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-BuildImage:before {
  content: "\e674";
}

.icon-Cancel:before {
  content: "\e675";
}

.icon-Restore:before {
  content: "\e676";
}

.icon-a-Pushlocal:before {
  content: "\e677";
}

.icon-a-SecuritySettings:before {
  content: "\e678";
}

.icon-a-onlineevaluation:before {
  content: "\e679";
}

.icon-fold21:before {
  content: "\e67a";
}

.icon-Rerun:before {
  content: "\e67b";
}

.icon-unfold21:before {
  content: "\e67c";
}

.icon-a-ViewTasks:before {
  content: "\e67d";
}

.icon-a-ImageBuilt:before {
  content: "\e67e";
}

.icon-link:before {
  content: "\e680";
}

.icon-a-runmodel:before {
  content: "\e681";
}

.icon-weixin:before {
  content: "\e665";
}

.icon-a-Versionhistory:before {
  content: "\e673";
}

.icon-file3:before {
  content: "\e672";
}

.icon-a-copylink:before {
  content: "\e66f";
}

.icon-a-Viewlog:before {
  content: "\e671";
}

.icon-copy:before {
  content: "\e670";
}

.icon-global2:before {
  content: "\e66e";
}

.icon-top2:before {
  content: "\e66c";
}

.icon-top:before {
  content: "\e66d";
}

.icon-vscode:before {
  content: "\e66b";
}

.icon-WeChat2:before {
  content: "\e66a";
}

.icon-layout-1:before {
  content: "\e667";
}

.icon-layout-3:before {
  content: "\e668";
}

.icon-layout-2:before {
  content: "\e669";
}

.icon-select:before {
  content: "\e666";
}

.icon-account:before {
  content: "\e660";
}

.icon-account2:before {
  content: "\e661";
}

.icon-bill:before {
  content: "\e662";
}

.icon-voucher:before {
  content: "\e663";
}

.icon-indent:before {
  content: "\e664";
}

.icon-global:before {
  content: "\e65f";
}

.icon-library:before {
  content: "\e65e";
}

.icon-group:before {
  content: "\e65d";
}

.icon-loading:before {
  content: "\e65c";
}

.icon-experiment:before {
  content: "\e65b";
}

.icon-download:before {
  content: "\e659";
}

.icon-upload:before {
  content: "\e65a";
}

.icon-calendar:before {
  content: "\e658";
}

.icon-file2:before {
  content: "\e657";
}

.icon-a-Addabove:before {
  content: "\e654";
}

.icon-a-Addbelow:before {
  content: "\e655";
}

.icon-drag:before {
  content: "\e656";
}

.icon-arrow2:before {
  content: "\e653";
}

.icon-dataset:before {
  content: "\e62a";
}

.icon-evaluation:before {
  content: "\e633";
}

.icon-runtime:before {
  content: "\e651";
}

.icon-Model:before {
  content: "\e652";
}

.icon-reset:before {
  content: "\e650";
}

.icon-docker:before {
  content: "\e64f";
}

.icon-setting2:before {
  content: "\e64e";
}

.icon-token:before {
  content: "\e64d";
}

.icon-pause:before {
  content: "\e61e";
}

.icon-speed:before {
  content: "\e621";
}

.icon-play:before {
  content: "\e622";
}

.icon-time:before {
  content: "\e64b";
}

.icon-volume:before {
  content: "\e64c";
}

.icon-grid:before {
  content: "\e64a";
}

.icon-image:before {
  content: "\e648";
}

.icon-video:before {
  content: "\e649";
}

.icon-fullscreen:before {
  content: "\e646";
}

.icon-file:before {
  content: "\e647";
}

.icon-audio:before {
  content: "\e643";
}

.icon-txt:before {
  content: "\e644";
}

.icon-excel:before {
  content: "\e645";
}

.icon-overview:before {
  content: "\e641";
}

.icon-a-managemember:before {
  content: "\e642";
}

.icon-google:before {
  content: "\e63f";
}

.icon-Github:before {
  content: "\e640";
}

.icon-check:before {
  content: "\e623";
}

.icon-a-passwordresets:before {
  content: "\e63c";
}

.icon-a-manageuser:before {
  content: "\e63d";
}

.icon-user2:before {
  content: "\e63e";
}

.icon-decline:before {
  content: "\e63a";
}

.icon-rise:before {
  content: "\e63b";
}

.icon-a-sortdesc:before {
  content: "\e62b";
}

.icon-info:before {
  content: "\e62c";
}

.icon-item-reduce:before {
  content: "\e62d";
}

.icon-success1:before {
  content: "\e62e";
}

.icon-a-sortasc:before {
  content: "\e62f";
}

.icon-filter:before {
  content: "\e630";
}

.icon-edit:before {
  content: "\e631";
}

.icon-item-add:before {
  content: "\e632";
}

.icon-pin:before {
  content: "\e634";
}

.icon-error:before {
  content: "\e635";
}

.icon-more:before {
  content: "\e636";
}

.icon-delete:before {
  content: "\e637";
}

.icon-warning:before {
  content: "\e638";
}

.icon-view:before {
  content: "\e639";
}

.icon-success:before {
  content: "\e629";
}

.icon-Twitter:before {
  content: "\e624";
}

.icon-Facebook:before {
  content: "\e625";
}

.icon-Instagram:before {
  content: "\e626";
}

.icon-Linkedin:before {
  content: "\e627";
}

.icon-Youtub:before {
  content: "\e628";
}

.icon-arrow3:before {
  content: "\e61f";
}

.icon-email:before {
  content: "\e620";
}

.icon-setting:before {
  content: "\e61d";
}

.icon-clear2:before {
  content: "\e603";
}

.icon-arrow_left:before {
  content: "\e604";
}

.icon-arrow_down:before {
  content: "\e605";
}

.icon-eye_off:before {
  content: "\e606";
}

.icon-clear:before {
  content: "\e607";
}

.icon-fold:before {
  content: "\e608";
}

.icon-arrow_right:before {
  content: "\e609";
}

.icon-job:before {
  content: "\e60a";
}

.icon-logout:before {
  content: "\e60b";
}

.icon-fold2:before {
  content: "\e60c";
}

.icon-password:before {
  content: "\e60d";
}

.icon-unfold:before {
  content: "\e60e";
}

.icon-close:before {
  content: "\e610";
}

.icon-results:before {
  content: "\e611";
}

.icon-project:before {
  content: "\e613";
}

.icon-unfold2:before {
  content: "\e614";
}

.icon-show:before {
  content: "\e615";
}

.icon-revert:before {
  content: "\e616";
}

.icon-eye:before {
  content: "\e617";
}

.icon-user:before {
  content: "\e618";
}

.icon-search:before {
  content: "\e619";
}

.icon-tasks:before {
  content: "\e61a";
}

.icon-arrow_top:before {
  content: "\e61b";
}

.icon-add:before {
  content: "\e61c";
}

