spring:
  profiles:
    active: dev
  application:
    name: star-whale-controller
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
logging:
  level:
    root: info
sw:
  jwt:
    secret: wdxlG3UK66m6uTUgxXFjizli
  taskSize:
    256
  storage:
    path-prefix: ${SW_STORAGE_PREFIX:StarWhale}
    s3-config:
      bucket: ${SW_STORAGE_BUCKET:starwhale}
      accessKey: ${SW_STORAGE_ACCESSKEY:12345678}
      secretKey: ${SW_STORAGE_SECRETKEY:12345678}
      region: ${SW_STORAGE_REGION:local}
      endpoint: ${SW_STORAGE_ENDPOINT:http://localhost:9000}
  controller:
    apiPrefix: /api/v1
server:
  port: 80
---
#Development
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    name: mysql
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/starwhale?useUnicode=true&characterEncoding=UTF-8
    username: root
    password: my-secret-pw
    schema: classpath:sql/schema.sql
    initialization-mode: always
  mvc:
     view:
         suffix: .html

mybatis:
  configuration:
    map-underscore-to-camel-case: true
  mapper-locations: classpath*:mapper/**/*.xml

server:
  port: 8082
#  servlet:
#    context-path: /api/v1
#logging:
#  level:
#    ai.starwhale.mlops: debug