spring:
  profiles:
    active: dev
  application:
    name: star-whale-controller
  servlet:
    multipart:
      max-file-size: ${SW_UPLOAD_MAX_FILE_SIZE:20480MB}
      max-request-size: ${SW_UPLOAD_MAX_FILE_SIZE:20480MB}
sw:
  version: ${SW_VERSION_CONTROLLER:0.1.0:8c82767b60686f3e2bfea9dafe8c8cce5dd34f52}
  jwt:
    secret: wdxlG3UK66m6uTUgxXFjizli
  taskSize: ${SW_TASK_SPLIT_SIZE:256}
  storage:
    path-prefix: ${SW_STORAGE_PREFIX:StarWhale}
    s3-config:
      bucket: ${SW_STORAGE_BUCKET:starwhale}
      accessKey: ${SW_STORAGE_ACCESSKEY:12345678}
      secretKey: ${SW_STORAGE_SECRETKEY:12345678}
      region: ${SW_STORAGE_REGION:local}
      endpoint: ${SW_STORAGE_ENDPOINT:http://localhost:9000}
  controller:
    apiPrefix: /api/v1
    whiteList: /api/v1/report
---
#Development
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    name: mysql
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${SW_METADATA_STORAGE_IP:127.0.0.1}:${SW_METADATA_STORAGE_PORT:3306}/starwhale?useUnicode=true&characterEncoding=UTF-8&createDatabaseIfNotExist=true&allowMultiQueries=true
    username: ${SW_METADATA_STORAGE_USER:root}
    password: ${SW_METADATA_STORAGE_PASSWORD:my-secret-pw}
  flyway:
    locations: "classpath:db/migration"
  mvc:
     view:
         suffix: .html

mybatis:
  configuration:
    map-underscore-to-camel-case: true
  mapper-locations: classpath*:mapper/**/*.xml

server:
  port: ${SW_CONTROLLER_PORT:8082}

logging:
  level:
    root: info
    ai.starwhale.mlops: debug