*.class
# Compiled class file
**.iml
*.py[c|o]
*.pb.go
*.pb.gw.go

# Log file
*.log
pylint.out

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
dist/
*.egg
*.egg/
*.egg-info/
*.sw[p|o]
*.orig

# IDE file
/.idea/
**/.idea/
/server/**/target/**
.history
.vscode
.cspell

# Env
*venv/
/env-build
.DS_Store
.python-version

# User Test Data
example/.idea/
example/mnist/data/
example/mnist/runtime.yaml
example/mnist/sw_output/
example/mnist/test/task_volume
example/mnist/models/
example/cifar10/data/
example/cifar10/models/
example/PennFudanPed/data/
example/PennFudanPed/models/
example/nmt/models/
example/nmt/data/
example/speech_command/data/
example/speech_command/models/
example/datasets/*/data
.starwhale
scripts/example/*.whl

# UI
node_modules
console/node/
console/cypress/example
coverage
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache-loader
/docker/jar/
/server/controller/src/main/resources/static/
videos/
storybook-static/
compiled

# Test Coverage
.coverage
.coverage.*
coverage.xml
*.cover
.pytest_cache/
*,cover
htmlcov/

# Python
__pycache__
.Python
pip-delete-this-directory.txt
.mypy*
.ipynb_checkpoints/

# Other
.cache

# Doc
docs/node_modules
docs/build
docs/.docusaurus
docs/versions.json
docs/versioned_sidebars
docs/versioned_docs
docs/i18n/zh/docusaurus-plugin-content-docs/version-*/

# Helm Charts
docker/charts/index.yaml
docker/charts/starwhale-*.tgz

/client/.idea/

# for building gradio
gradio
.pnpm-store/
console/src/assets/GradioWidget/
/example/**/models/
/example/**/data/

/example/**/pretrained_models/

