<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2022.1-2022
  ~ StarWhale.ai All right reserved. This software is the confidential and proprietary information of
  ~ StarWhale.ai ("Confidential Information"). You shall not disclose such Confidential Information and shall use it only
  ~ in accordance with the terms of the license agreement you entered into with StarWhale.ai.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ai.starwhale.mlops.domain.system.mapper.AgentMapper">

    <sql id="select_agents">
        select id as agent_id,
               inet_ntoa(agent_ip) as agent_ip,
               connect_time,
               agent_version,
               agent_status,
               serial_number as agent_serial_number,
               device_info,
               created_time as agent_created_time,
               modified_time as agent_modified_time
        from agent_info as a where 1=1
    </sql>
    <delete id="deleteById" parameterType = "long">
        delete from agent_info where id = #{agentId}
    </delete>

    <select id="listAgents" resultMap="agentResultMap">
        <include refid="select_agents"/>
        order by connect_time desc
    </select>

    <insert id="addAgent" parameterType="ai.starwhale.mlops.domain.system.AgentEntity" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into agent_info(agent_ip, connect_time, agent_version, agent_status, serial_number, device_info)
        values (inet_aton(#{agent.agentIp}), #{agent.connectTime}, #{agent.agentVersion}, #{agent.status}, #{agent.serialNumber}, #{agent.deviceInfo})
    </insert>

    <update id="updateAgents">
        <foreach item="item" index="index" collection="agents"
          open=" " separator=";" close=" ">
            update agent_info set connect_time = #{item.connectTime},
            agent_version = #{item.agentVersion},
            agent_status = #{item.status},
            agent_ip = inet_aton(#{item.agentIp}),
            device_info = #{item.deviceInfo} WHERE id = #{item.id}
        </foreach>
    </update>

    <resultMap id="agentResultMap" type="ai.starwhale.mlops.domain.system.AgentEntity" >
        <id property="id" column="agent_id" />
        <result property="agentIp" column="agent_ip" />
        <result property="connectTime" column="connect_time" />
        <result property="agentVersion" column="agent_version" />
        <result property="status" column="agent_status" />
        <result property="serialNumber" column="agent_serial_number" />
        <result property="createdTime" column="agent_created_time" />
        <result property="modifiedTime" column="agent_modified_time" />
    </resultMap>
</mapper>
