<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2022.1-2022
  ~ StarWhale.ai All right reserved. This software is the confidential and proprietary information of
  ~ StarWhale.ai ("Confidential Information"). You shall not disclose such Confidential Information and shall use it only
  ~ in accordance with the terms of the license agreement you entered into with StarWhale.ai.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ai.starwhale.mlops.domain.job.mapper.BaseImageMapper">
    <select id="listBaseImages" resultMap="baseImageResultMap">
        select id as image_id,
               image_name,
               created_time as image_created_time,
               modified_time as image_modified_time
        from base_image
        <if test="imageName != null and imageName != ''">
            where image_name like concat(#{imageName}, '%')
        </if>
        order by image_name
    </select>



    <resultMap id="baseImageResultMap" type="ai.starwhale.mlops.domain.job.BaseImageEntity" >
        <id property="id" column="image_id" />
        <result property="imageName" column="image_name" />
        <result property="createdTime" column="image_created_time" />
        <result property="modifiedTime" column="image_modified_time" />
    </resultMap>
</mapper>