<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2022 Starwhale, Inc. All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ai.starwhale.mlops.domain.dag.mapper.GraphMapper">

    <sql id="select_graphs">
        select dag.id as graph_id,
               dag.job_id
        from dag_graph as dag
        where 1 = 1
    </sql>

    <select id="findByJobId" resultMap="graphResultMap">
        <include refid="select_graphs"/>
        and dag.job_id = #{jobId}
    </select>

    <insert id="add" parameterType="ai.starwhale.mlops.domain.dag.po.GraphEntity" useGeneratedKeys="true" keyProperty="id">
        insert into dag_graph(job_id)
        values (#{graphEntity.jobId})
    </insert>

    <resultMap id="graphResultMap" type="ai.starwhale.mlops.domain.dag.po.GraphEntity" >
        <id property="id" column="graph_id" />
        <result property="jobId" column="job_id"/>
    </resultMap>
</mapper>


