<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2022.1-2022
  ~ starwhale.ai All right reserved. This software is the confidential and proprietary information of
  ~ starwhale.ai ("Confidential Information"). You shall not disclose such Confidential Information and shall use it only
  ~ in accordance with the terms of the license agreement you entered into with starwhale.ai.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ai.starwhale.mlops.domain.job.mapper.JobDatasetVersionMapper">
  <select id="listDatasetVersionsByJobId" resultMap="dsVersionResultMap">
    select dsv.id as dsv_id,
    dataset_id,
    dsv.owner_id,
    version_name as dsv_version_name,
    ds.dataset_name as ds_dataset_name,
    dsv.index_table   as dsv_index_table,
    version_tag as dsv_version_tag,
    version_meta as dsv_version_meta,
    storage_path as dsv_storage_path,
    dsv.created_time as dsv_created_time,
    dsv.files_uploaded,
    dsv.size as dsv_size,
    dsv.modified_time as dsv_modified_time
    from dataset_version as dsv,
    dataset_info as ds,
    job_dataset_version_rel as rel
    where rel.job_id = #{jobId}
    and rel.dataset_version_id = dsv.id
    and ds.id = dsv.dataset_id
  </select>

  <insert id="addJobDatasetVersions">
    insert into job_dataset_version_rel (job_id, dataset_version_id)
    values
    <foreach collection="dsvIds" item="vid" index="index" separator=",">
      (#{jobId},#{vid})
    </foreach>
  </insert>

  <resultMap id="dsVersionResultMap"
    type="ai.starwhale.mlops.domain.dataset.po.DatasetVersionEntity">
    <id column="dsv_id" property="id"/>
    <result column="dataset_id" property="datasetId"/>
    <result column="dsv_version_order" property="versionOrder"/>
    <result column="dsv_version_name" property="versionName"/>
    <result column="ds_dataset_name" property="datasetName"/>
    <result column="dsv_size" property="size"/>
    <result column="dsv_index_table" property="indexTable"/>
    <result column="dsv_version_tag" property="versionTag"/>
    <result column="dsv_version_meta" property="versionMeta"/>
    <result column="dsv_storage_path" property="storagePath"/>
    <result column="dsv_created_time" property="createdTime"/>
    <result column="dsv_modified_time" property="modifiedTime"/>
    <result column="owner_id" property="ownerId"/>
    <result column="status" property="status"/>
    <result column="files_uploaded" property="filesUploaded"/>
  </resultMap>
</mapper>
