<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2022.1-2022
  ~ StarWhale.ai All right reserved. This software is the confidential and proprietary information of
  ~ StarWhale.ai ("Confidential Information"). You shall not disclose such Confidential Information and shall use it only
  ~ in accordance with the terms of the license agreement you entered into with StarWhale.ai.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ai.starwhale.mlops.domain.job.mapper.JobMapper">

    <sql id="select_jobs">
        select j.id as job_id,
               j.job_uuid,
               j.project_id,
               j.swmp_version_id,
               j.owner_id,
               j.created_time as job_created_time,
               j.finished_time as job_finished_time,
               j.duration_ms as job_duration_ms,
               j.job_status,
               j.base_image_id,
               j.device_type,
               j.device_amount,
               j.result_output_path as job_result_output_path,
               p.id as project_id,
               p.project_name,
               u.id as user_id,
               u.user_name,
               u.user_enabled,
               u.role_id,
               u.created_time as user_created_time,
               u.modified_time as user_modified_time,
               mv.id as mv_id,
               mv.swmp_id,
               mv.version_name as mv_version_name,
               mv.version_tag as mv_version_tag,
               mv.version_meta as mv_version_meta,
               mv.created_time as mv_created_time,
               mv.modified_time as mv_modified_time,
               mv.storage_path as mv_storage_path,
               b.id as image_id,
               b.image_name,
               b.created_time as image_created_time,
               b.modified_time as image_modified_time,
               r.role_name,
               r.role_name_en,
               m.swmp_name as swmp_name
        from job_info as j,
             user_info as u,
             project_info as p,
             swmp_version as mv,
             swmp_info as m,
             base_image as b,
             user_role as r
        where u.id = j.owner_id
          and p.id = j.project_id
          and r.id = u.role_id
          and mv.id = j.swmp_version_id
          and m.id = mv.swmp_id
          and b.id = j.base_image_id
    </sql>

    <select id="listJobs" resultMap="jobResultMap" >
        <include refid="select_jobs"/>
         and j.project_id = #{projectId}
        <choose>
            <when test="swmpId != null">
                and swmp_id = #{swmpId}
            </when>
            <otherwise>
                order by swmp_id,j.id desc
            </otherwise>
        </choose>

    </select>

    <select id="findJobById" resultMap="jobResultMap" >
        <include refid="select_jobs"/>
        and j.id = #{jobId}
    </select>

    <select id="findJobByStatusIn" resultMap="jobResultMap" >
        <include refid="select_jobs"/>
        and j.job_status in
        <foreach item="item" index="index" collection="jobStatuses"
          open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <update id="updateJobStatus">
        update job_info set job_status = #{jobStatus} WHERE id in
        <foreach item="item" index="index" collection="jobIds"
          open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateJobFinishedTime">
        update job_info set finished_time = #{finishedTime} WHERE id in
        <foreach item="item" index="index" collection="jobIds"
          open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <update id="updateJobResultPath">
        update job_info set result_output_path = #{resultDir} WHERE id = #{jobId}
    </update>

    <insert id="addJob" parameterType="ai.starwhale.mlops.domain.job.JobEntity" useGeneratedKeys="true" keyProperty="id">
        insert into job_info(job_uuid,
                             project_id,
                             swmp_version_id,
                             owner_id,
                             created_time,
                             finished_time,
                             duration_ms,
                             job_status,
                             base_image_id,
                             device_type,
                             device_amount,
                             result_output_path)
        values (#{jobUuid},
                #{projectId},
                #{swmpVersionId},
                #{ownerId},
                #{createdTime},
                #{finishedTime},
                #{durationMs},
                #{jobStatus},
                #{baseImageId},
                #{deviceType},
                #{deviceAmount},
                #{resultOutputPath}
                )
    </insert>

    <resultMap id="jobResultMap" type="ai.starwhale.mlops.domain.job.JobEntity" >
        <id property="id" column="job_id" />
        <result property="jobUuid" column="job_uuid"/>
        <result property="projectId" column="project_id"/>
        <result property="modelName" column="swmp_name"/>
        <result property="swmpVersionId" column="swmp_version_id"/>
        <result property="ownerId" column="owner_id"/>
        <result property="createdTime" column="job_created_time" />
        <result property="finishedTime" column="job_finished_time" />
        <result property="durationMs" column="job_duration_ms" />
        <result property="jobStatus" column="job_status" />
        <result property="deviceType" column="device_type" />
        <result property="deviceAmount" column="device_amount" />
        <result property="resultOutputPath" column="job_result_output_path" />
        <association property="project" resultMap="ai.starwhale.mlops.domain.project.mapper.ProjectMapper.projectResultMap"/>
        <association property="swmpVersion" resultMap="ai.starwhale.mlops.domain.swmp.mapper.SWModelPackageVersionMapper.swmpVersionResultMap" />
        <association property="owner" resultMap="ai.starwhale.mlops.domain.user.mapper.UserMapper.userResultMap" />
        <association property="baseImage" resultMap="ai.starwhale.mlops.domain.job.mapper.BaseImageMapper.baseImageResultMap" />
    </resultMap>
</mapper>
