<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2022.1-2022
  ~ StarWhale.ai All right reserved. This software is the confidential and proprietary information of
  ~ StarWhale.ai ("Confidential Information"). You shall not disclose such Confidential Information and shall use it only
  ~ in accordance with the terms of the license agreement you entered into with StarWhale.ai.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ai.starwhale.mlops.domain.job.mapper.JobSWDSVersionMapper">
    <select id="listSWDSVersionsByJobId" resultMap="ai.starwhale.mlops.domain.swds.mapper.SWDatasetVersionMapper.dsVersionResultMap">
        select dsv.id as dsv_id,
               dataset_id,
               dsv.owner_id,
               version_name as dsv_version_name,
               ds.dataset_name as ds_dataset_name,
               version_tag as dsv_version_tag,
               version_meta as dsv_version_meta,
               storage_path as dsv_storage_path,
               dsv.created_time as dsv_created_time,
               dsv.modified_time as dsv_modified_time
        from dataset_version as dsv,
             dataset_info as ds,
             job_dataset_version_rel as rel
        where rel.job_id = #{jobId}
          and rel.dataset_version_id = dsv.id
          and ds.id = dsv.dataset_id
    </select>

    <insert id="addJobSWDSVersions" >
        insert into job_dataset_version_rel (job_id, dataset_version_id)
        values
        <foreach collection="dsvIds" item="vid" index="index" separator=",">
            (#{jobId},#{vid})
        </foreach>
    </insert>
</mapper>