<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2022.1-2022
  ~ starwhale.ai All right reserved. This software is the confidential and proprietary information of
  ~ starwhale.ai ("Confidential Information"). You shall not disclose such Confidential Information and shall use it only
  ~ in accordance with the terms of the license agreement you entered into with starwhale.ai.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ai.starwhale.mlops.domain.model.mapper.ModelMapper">
  <sql id="select_model">
    select s.id as model_id,
    s.model_name,
    s.project_id,
    s.owner_id,
    s.is_deleted,
    s.created_time as model_created_time,
    s.modified_time as model_modified_time,
    u.id as user_id,
    u.user_name,
    u.created_time as user_created_time,
    u.user_enabled,
    p.project_name
    from model_info as s,
    user_info as u,
    project_info as p
    where s.is_deleted = 0
    and u.id = s.owner_id
    and p.id = s.project_id
  </sql>

  <select id="listModels" resultMap="modelResultMap">
    <include refid="select_model"/>
    and project_id = #{projectId}
    <if test="namePrefix != null and namePrefix != ''">
      and s.model_name like concat(#{namePrefix}, '%')
    </if>
    order by s.id desc
  </select>

  <select id="findModelById" resultMap="modelResultMap">
    <include refid="select_model"/>
    and s.id = #{id}
  </select>

  <select id="findModelsByIds" resultMap="modelResultMap">
    <include refid="select_model"/>
    and s.id in
    <foreach collection="ids" separator="," open="(" close=")" item="id">
      #{id}
    </foreach>
  </select>

  <select id="findByNameForUpdate" resultMap="modelResultMap">
    <include refid="select_model"/>
    and s.model_name = #{name}
    <if test="projectId != null">
      and s.project_id = #{projectId}
    </if>
    for update
  </select>

  <select id="findByName" resultMap="modelResultMap">
    <include refid="select_model"/>
    and s.model_name = #{name}
    <if test="projectId != null">
      and s.project_id = #{projectId}
    </if>
  </select>


  <insert id="addModel" useGeneratedKeys="true" keyProperty="id">
    insert into model_info(model_name, project_id, owner_id)
    values(#{entity.modelName}, #{entity.projectId}, #{entity.ownerId})
  </insert>

  <delete id="deleteModel">
    update model_info
    set is_deleted = 1
    where id = #{id}
  </delete>

  <update id="recoverModel">
    update model_info
    set is_deleted = 0
    where id = #{id}
  </update>

  <select id="findDeletedModelById" resultMap="modelResultMap">
    select id as model_id,
    model_name,
    project_id,
    owner_id,
    is_deleted,
    created_time as runtime_created_time,
    modified_time as runtime_modified_time
    from model_info
    where is_deleted = 1
    and id = #{id}
  </select>

  <select id="listDeletedModel" resultMap="modelResultMap">
    select id as model_id,
    model_name,
    project_id,
    owner_id,
    is_deleted,
    created_time as runtime_created_time,
    modified_time as runtime_modified_time
    from model_info
    where is_deleted = 1
    <if test="name != null and name != ''">
      and model_name = #{name}
    </if>
    <if test="projectId != null">
      and project_id = #{projectId}
    </if>
    order by modified_time desc
  </select>

  <resultMap id="modelResultMap" type="ai.starwhale.mlops.domain.model.po.ModelEntity">
    <id property="id" column="model_id"/>
    <result property="modelName" column="model_name"/>
    <result property="projectId" column="project_id"/>
    <result property="ownerId" column="owner_id"/>
    <result property="isDeleted" column="is_deleted"/>
    <result property="createdTime" column="model_created_time"/>
    <result property="modifiedTime" column="model_modified_time"/>
    <association property="owner"
      resultMap="ai.starwhale.mlops.domain.user.mapper.UserMapper.userResultMap"/>
  </resultMap>
</mapper>
