<!--
  ~ Copyright 2022.1-2022
  ~ StarWhale.ai All right reserved. This software is the confidential and proprietary information of
  ~ StarWhale.ai ("Confidential Information"). You shall not disclose such Confidential Information and shall use it only
  ~ in accordance with the terms of the license agreement you entered into with StarWhale.ai.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ai.starwhale.mlops.domain.user.mapper.RoleMapper">

    <select id="listRoles" resultMap="roleResultMap">
        select id as role_id,
               role_name,
               role_code,
               role_description
        from user_role_info
    </select>

    <select id="getRolesOfProject" resultMap="roleResultMap">
        select r.id as role_id,
               r.role_name,
               r.role_code,
               r.role_description
        from user_role_rel as rel
                 left join user_role_info as r
                           on r.id = rel.role_id
        where rel.user_id = #{userId}
          and rel.project_id = #{projectId}
    </select>


    <resultMap id="roleResultMap" type="ai.starwhale.mlops.domain.user.po.RoleEntity" >
        <id property="id" column="role_id" />
        <result property="roleName" column="role_name"/>
        <result property="roleCode" column="role_code"/>
        <result property="roleDescription" column="role_description"/>
    </resultMap>
</mapper>
