<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2022.1-2022
  ~ StarWhale.ai All right reserved. This software is the confidential and proprietary information of
  ~ StarWhale.ai ("Confidential Information"). You shall not disclose such Confidential Information and shall use it only
  ~ in accordance with the terms of the license agreement you entered into with StarWhale.ai.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ai.starwhale.mlops.domain.swds.mapper.SWDatasetVersionMapper">
    <sql id="select_swds_version">
        select dsv.id as dsv_id,
               dataset_id,
               dsv.owner_id,
               version_name as dsv_version_name,
               version_tag as dsv_version_tag,
               version_meta as dsv_version_meta,
               storage_path as dsv_storage_path,
               status as status,
               dsv.created_time as dsv_created_time,
               dsv.modified_time as dsv_modified_time,
               ds.dataset_name as ds_dataset_name,
               u.id as user_id,
               u.user_name,
               u.created_time as user_created_time,
               u.user_enabled,
               r.id as role_id,
               r.role_name,
               r.role_name_en
        from dataset_version as dsv,
             dataset_info as ds,
             user_info as u,
             user_role as r
        where dsv.owner_id = u.id
          and r.id = u.role_id
          and ds.id = dsv.dataset_id
    </sql>

    <select id="listVersions" resultMap="dsVersionResultMap" >
        <include refid="select_swds_version" />
        and dataset_id = #{datasetId}
        <if test="namePrefix != null and namePrefix != ''">
            and version_name like concat(#{namePrefix}, '%')
        </if>
        <if test="tag != null and tag != ''">
            and version_tag like concat(#{tag}, '%')
        </if>
        order by dsv.id desc
    </select>

    <select id="findByDSIdAndVersionNameForUpdate" resultMap="dsVersionResultMap" >
        <include refid="select_swds_version" />
        and dataset_id = #{datasetId}
        and version_name = #{versionName}
        for update
    </select>

    <select id="getVersionById" resultMap="dsVersionResultMap" >
        <include refid="select_swds_version" />
        and dsv.id = #{dsVersionId}
    </select>

    <select id="findVersionsByStatus" resultMap="dsVersionResultMap" >
        <include refid="select_swds_version" />
        and dsv.status = #{status}
    </select>

    <select id="findVersionsByIds" resultMap="dsVersionResultMap" >
        <include refid="select_swds_version" />
        and dsv.id in
        <foreach collection="ids" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </select>

    <select id="getLatestVersion" resultMap="dsVersionResultMap" >
        <include refid="select_swds_version" />
        and dataset_id = #{datasetId}
        order by dsv.id desc
        limit 1
    </select>

    <insert id="revertTo">
        insert into dataset_version (dataset_id, owner_id, version_name, version_tag, version_meta, storage_path)
        select dataset_id, owner_id, version_name, version_tag, version_meta, storage_path
        from dataset_version
        where id = #{dsVersionId}
    </insert>

    <insert id="addNewVersion" parameterType="ai.starwhale.mlops.domain.swds.SWDatasetVersionEntity" useGeneratedKeys="true" keyProperty="id">
        insert into dataset_version (dataset_id, owner_id, version_name, version_tag, version_meta, storage_path, files_uploaded)
        values(#{version.datasetId}, #{version.ownerId}, #{version.versionName}, #{version.versionTag}, #{version.versionMeta}, #{version.storagePath}, #{version.filesUploaded})
    </insert>

    <update id="update" parameterType="ai.starwhale.mlops.domain.swds.SWDatasetVersionEntity">
        update dataset_version set version_tag = #{version.versionTag} where id = #{version.id}
    </update>

    <update id="updateFilesUploaded" parameterType="ai.starwhale.mlops.domain.swds.SWDatasetVersionEntity">
        update dataset_version set files_uploaded = #{version.filesUploaded} where id = #{version.id}
    </update>

    <update id="updateStatus">
        update dataset_version set status = #{status} where id = #{id}
    </update>

    <delete id = "deleteById">
      delete from dataset_version WHERE id = #{id};
   </delete>



    <resultMap id="dsVersionResultMap" type="ai.starwhale.mlops.domain.swds.SWDatasetVersionEntity" >
        <id property="id" column="dsv_id" />
        <result property="datasetId" column="dataset_id" />
        <result property="versionName" column="dsv_version_name" />
        <result property="datasetName" column="ds_dataset_name" />
        <result property="versionTag" column="dsv_version_tag" />
        <result property="versionMeta" column="dsv_version_meta" />
        <result property="storagePath" column="dsv_storage_path" />
        <result property="createdTime" column="dsv_created_time"/>
        <result property="modifiedTime" column="dsv_modified_time"/>
        <result property="ownerId" column="owner_id" />
        <result property="status" column="status" />
        <result property="filesUploaded" column="files_uploaded" />
        <association property="owner" resultMap="ai.starwhale.mlops.domain.user.mapper.UserMapper.userResultMap" />
    </resultMap>
</mapper>
