<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2022.1-2022
  ~ StarWhale.ai All right reserved. This software is the confidential and proprietary information of
  ~ StarWhale.ai ("Confidential Information"). You shall not disclose such Confidential Information and shall use it only
  ~ in accordance with the terms of the license agreement you entered into with StarWhale.ai.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ai.starwhale.mlops.domain.user.mapper.UserMapper">
    <insert id="createUser" parameterType="ai.starwhale.mlops.domain.user.UserEntity" useGeneratedKeys="true" keyProperty="id">
        insert into user_info (user_name, user_pwd, user_pwd_salt, role_id, user_enabled)
        values (#{userName}, #{userPwd}, #{userPwdSalt}, #{roleId}, #{userEnabled})
    </insert>

    <select id="findUser" resultMap="userResultMap">
        select u.id as user_id,
               u.user_name,
               u.user_pwd,
               u.user_pwd_salt,
               u.role_id,
               u.user_enabled,
               u.created_time as user_created_time,
               u.modified_time as user_modified_time,
               r.role_name,
               r.role_name_en
        from user_info as u,
             user_role as r
        where u.id = #{id}
          and u.role_id = r.id
    </select>

    <select id="findUserByName" resultMap="userResultMap">
        select u.id as user_id,
               u.user_name,
               u.user_pwd,
               u.user_pwd_salt,
               u.role_id,
               u.user_enabled,
               u.created_time as user_created_time,
               u.modified_time as user_modified_time,
               r.role_name,
               r.role_name_en
        from user_info as u,
             user_role as r
        where u.user_name = #{userName}
          and u.role_id = r.id
    </select>

    <select id="listUsers" resultMap="userResultMap">
        select u.id as user_id,
               u.user_name,
               u.user_pwd,
               u.user_pwd_salt,
               u.role_id,
               u.user_enabled,
               u.created_time as user_created_time,
               u.modified_time as user_modified_time,
               r.role_name,
               r.role_name_en
        from user_info as u,
             user_role as r
        where u.role_id = r.id
        <if test = "userNamePrefix != null and userNamePrefix != ''">
            and u.user_name like concat(#{userNamePrefix}, '%')
        </if>
        order by u.user_name
    </select>

    <update id="changePassword" parameterType="ai.starwhale.mlops.domain.user.UserEntity">
        update user_info
        set user_pwd = #{userPwd},
            user_pwd_salt = #{userPwdSalt}
        where id = #{id}
    </update>

    <update id="enableUser" parameterType="ai.starwhale.mlops.domain.user.UserEntity">
        update user_info
        set user_enabled = #{userEnabled}
        where id = #{id}
    </update>

    <resultMap id="userResultMap" type="ai.starwhale.mlops.domain.user.UserEntity" >
        <id property="id" column="user_id" />
        <result property="userName" column="user_name"/>
        <result property="userPwd" column="user_pwd"/>
        <result property="userPwdSalt" column="user_pwd_salt"/>
        <result property="userEnabled" column="user_enabled"/>
        <result property="createdTime" column="user_created_time"/>
        <result property="modifiedTime" column="user_modified_time"/>
        <result property="roleId" column="role_id"/>
        <association property="role" resultMap="ai.starwhale.mlops.domain.user.mapper.RoleMapper.roleResultMap" />
    </resultMap>
</mapper>