<!--
  ~ Copyright 2022.1-2022
  ~ starwhale.ai All right reserved. This software is the confidential and proprietary information of
  ~ starwhale.ai ("Confidential Information"). You shall not disclose such Confidential Information and shall use it only
  ~ in accordance with the terms of the license agreement you entered into with starwhale.ai.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ai.starwhale.mlops.domain.evaluation.mapper.ViewConfigMapper">

  <select id="findViewConfig" resultMap="viewConfigResultMap">
    select id as config_id,
    config_name,
    project_id,
    owner_id,
    content as config_content,
    created_time as config_created_time,
    modified_time as config_modified_time
    from view_config
    where config_name = #{name}
    and owner_id = #{userId}
    and project_id = #{projectId}
  </select>

  <insert id="createViewConfig"
    parameterType="ai.starwhale.mlops.domain.evaluation.po.ViewConfigEntity">
    replace into view_config(config_name, project_id, owner_id, content)
    values (#{configName}, #{projectId}, #{ownerId}, #{content})
  </insert>

  <resultMap id="viewConfigResultMap"
    type="ai.starwhale.mlops.domain.evaluation.po.ViewConfigEntity">
    <id property="id" column="config_id"/>
    <result property="configName" column="config_name"/>
    <result property="ownerId" column="owner_id"/>
    <result property="projectId" column="project_id"/>
    <result property="content" column="config_content"/>
    <result property="createdTime" column="config_created_time"/>
    <result property="modifiedTime" column="config_modified_time"/>
  </resultMap>
</mapper>