@function toRem($value) {
  $remValue: calc($value/14) + rem;
  @return $remValue;
}

.footer {
  --ifm-footer-background-color: #050d46;
  --ifm-footer-color: #ffffff;
  --ifm-footer-padding-vertical: 30px;
  --ifm-footer-padding-horizontal: 0px;
  border-top: 1px solid #131c57;

  .container {
    max-width: var(--max-page-width);
    display: flex;
    // padding-bottom: 20px;
    .logo {
      padding: 0 82px 0 120px;
      img {
        margin: 0;
        margin-bottom: 30px;
      }
    }
  }

  &__col {
    padding: 0;
  }
  &__links {
    gap: 59px;
    margin: 0;
  }

  &__links &__title {
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 20px;
  }
  &__links &__item {
    margin-bottom: 20px;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 12px;
    min-width: 123px;

    a {
      height: 12px;
      color: rgba(255, 255, 255, 0.8);
      line-height: 12px;
    }
  }

  &__copyright {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0;
    line-height: 12px;
  }

  .social {
    display: flex;
    gap: 16px;

    .icon-Facebook,
    .icon-Twitter,
    .icon-Instagram {
      color: #1978f3;
    }
  }
}

@media screen and (max-width: 768px) {
}
