<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2022.1-2022
  ~ StarWhale.ai All right reserved. This software is the confidential and proprietary information of
  ~ StarWhale.ai ("Confidential Information"). You shall not disclose such Confidential Information and shall use it only
  ~ in accordance with the terms of the license agreement you entered into with StarWhale.ai.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ai.starwhale.mlops.domain.user.UserMapper">
    <insert id="createUser" parameterType="ai.starwhale.mlops.domain.user.UserEntity" useGeneratedKeys="true" keyProperty="id">
        insert into user_info (user_name, user_pwd, user_pwd_salt, role_id, user_enabled)
        values (#{userName}, #{userPwd}, #{userPwdSalt}, #{roleId}, #{userEnabled})
    </insert>

    <select id="findUser" resultType="ai.starwhale.mlops.domain.user.UserEntity">
        select u.id,
               u.user_name,
               u.user_pwd,
               u.user_pwd_salt,
               u.role_id,
               u.user_enabled,
               u.created_time,
               u.modified_time,
               r.role_name
        from user_info as u,
             user_role as r
        where u.id = #{id}
          and u.role_id = r.id
    </select>

    <select id="listUsers" resultType="ai.starwhale.mlops.domain.user.UserEntity">
        select u.id,
               u.user_name,
               u.user_pwd,
               u.user_pwd_salt,
               u.role_id,
               u.user_enabled,
               u.created_time,
               u.modified_time,
               r.role_name
        from user_info as u,
             user_role as r
        where u.role_id = r.id
        <if test = "userName != null">
            u.user_name like #{userName}%
        </if>
    </select>

    <update id="changePassword" >
        update user_info
        set user_pwd = #{password}
        where id = #{id}
    </update>

    <update id="enableUser" >
        update user_info
        set is_enabled = #{isEnabled}
        where id = #{id}
    </update>
</mapper>