
.PlotlyVisualizer {
  height: 100%;
  overflow: auto;
  &__chart {
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
  }
}

.VisualizationLoader {
  width: 50px;
}
