@function toRem($value) {
  $remValue: calc($value/14) + rem;
  @return $remValue;
}
.divider2 {
  display: flex;
  justify-content: center;
  align-items: center;

  .icon-line {
    font-size: 48px !important;
  }
}
.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;

  &:before {
    content: "";
    width: 50%;
    max-width: 240px;
    background-color: #d8d8d8;
    height: 1px;
  }
  &:after {
    content: "";
    width: 50%;
    max-width: 240px;
    background-color: #d8d8d8;
    height: 1px;
  }
}

// feature: tabs
.swMain {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  padding-bottom: 80px;
  position: relative;
  z-index: 1;

  &:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    content: "";
    background-color: #050d46;
  }
}

.swTabs {
  width: 100%;
  min-height: toRem(500);
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
  border-radius: 12px;

  //   --ifm-hover-overlay: #2b65d9;
  --ifm-tabs-color-active-border: #2b65d9;
  --ifm-tabs-color-active: #2b65d9;

  .margin-top--md {
    margin-top: 0 !important;
  }

  .tabs {
    border-bottom: 2px solid #f2f2f2;
    &__body {
      padding: 58px 80px 80px 80px;
      display: flex;
      justify-content: space-between;
    }

    &__code {
      border-radius: 12px;
      width: toRem(534);
      min-height: toRem(300);
      font-size: 14px;
      color: #ffffff;
      letter-spacing: 0;
      line-height: 22px;
      // padding: 29px 35px;
    }

    &__desc {
      display: flex;
      flex-direction: column;
      margin-left: toRem(100);
      width: toRem(386);
      padding: 30px 0;
      .button {
        align-self: flex-end;
        margin-top: 40px;
        background-color: #2b65d9;
        border-color: transparent;
        height: 32px;
        line-height: 32px;
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    &__item {
      position: relative;
      border-bottom: none;

      &:hover {
        background-color: transparent;
        color: #5181e0;
      }

      &--active:after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 255px;
        border-bottom: 2px solid #2b65d9;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .tabs {
      &__body {
        padding: 20px;
        flex-direction: column;
      }
    }

    .tabs__code,
    .tabs__desc {
      width: 100% !important;
      margin: 0;
    }
  }
}

.swUser {
  h1 {
    margin-bottom: 31px;
    font-size: 34px;
    color: #333333;
    letter-spacing: 0;
    text-align: center;
    line-height: 34px;
    font-weight: bold;
  }
  .divider {
    margin-bottom: 61px;
  }
  .user__body {
    gap: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

    .card {
      box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
      width: 320px;
      padding: 6px;
      background-color: #fff;

      &__image {
        background: #f5f5f5;
        background-size: contain;
        width: 100%;
        height: 204px;
      }
      &__body {
        padding: 31px 54px 32px 54px;
        display: flex;
        flex-direction: column;
        gap: 19px;
        font-size: 0;
        h3 {
          color: #444444;
          letter-spacing: 0;
          text-align: center;
          line-height: 20px;
          font-weight: 700;
          margin: 0;
        }
        span {
          font-size: 14px;
          color: #777777;
          letter-spacing: 0;
          text-align: center;
          line-height: 22px;
        }
      }
    }
  }
}

.swTry {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;

  h1 {
    font-size: 34px;
    color: #333333;
    letter-spacing: 0;
    text-align: center;
    line-height: 34px;
    margin: 0;
  }

  .try {
    display: grid;
    grid-auto-rows: 1fr;
    gap: 19px;

    &__item {
      max-width: 656px;
      padding: 34px 60px;
      font-size: 14px;
      color: #333333;
      letter-spacing: 0;
      line-height: 24px;
      background: #ffffff;
      box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
      border-radius: 6px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 64px;
      span {
        max-width: 268px;
      }

      .button {
        border-radius: 24px;
        line-height: 44px;
        width: 200px;
        height: 44px;
        padding-top: 0;
        padding-bottom: 0;
      }

      b {
        font-weight: bold;
        font-size: 24px;
        color: #2b65d9;
        letter-spacing: 0;
        line-height: 24px;
      }

      &:last-child .button {
        border: 1px solid #2b65d9;
        border-radius: 24px;
        background-color: #fff;
        font-size: 16px;
        color: #2b65d9;
        letter-spacing: 0;
        text-align: center;
      }
    }
  }
}

.swIntegrate {
  h1 {
    text-align: center;
  }
  .integrate {
    position: relative;
    margin-top: 60px;

    &__body {
      height: 300px + 90 * 2px;
      display: flex;
      gap: 40px;
      padding: 10px 130px 0;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
    }

    &--8 {
      .map__item {
        &:nth-child(1),
        &:nth-child(4) {
          position: relative;
          top: 20px;
        }
        &:nth-child(5),
        &:nth-child(8) {
          position: relative;
          top: -20px;
        }
      }
    }
  }

  .map {
    position: absolute;
    z-index: -1;
    top: 90px;
    left: 0;
    right: 0;
    margin: auto;
    width: 720px;
    height: 220px + 80px;
    background-color: transparent;
    display: flex;
    justify-content: center;

    &--6 {
      background: url("/static/img/line3-top.svg") center 10px no-repeat,
        url("/static/img/line3-down.svg") center 190px no-repeat;
    }
    &--7 {
      background: url("/static/img/line3-top.svg") center 10px no-repeat,
        url("/static/img/line4-down.svg") center 190px no-repeat;
    }
    &--8 {
      background: url("/static/img/line4-top.svg") center 10px no-repeat,
        url("/static/img/line4-down.svg") center 190px no-repeat;
    }
    &--9 {
      background: url("/static/img/line4-top.svg") center 10px no-repeat,
        url("/static/img/line5-down.svg") center bottom no-repeat;
    }
    &--10 {
      background: url("/static/img/line5-top.svg") center top no-repeat,
        url("/static/img/line5-down.svg") center bottom no-repeat;
    }

    &__item {
      background: #ffffff;
      border: 1px solid #dddddd;
      border-radius: 6px;
      width: 200px;
      height: 90px;
      padding: 19px 0 13px 0;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: 14px;
      color: #333333;
      letter-spacing: 0;
      text-align: center;
      line-height: 14px;

      &:hover {
        // cursor: pointer;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
      }
    }

    &__divider {
      display: flex;
      width: 100px;
      min-height: 1px;
      height: 1px;
      background-color: #f1f1f1;
    }

    &__center {
      align-self: center;
      justify-self: center;

      &--logo {
        background: #ffffff;
        border: 1px solid #101099;
        border-radius: 6px;
        width: 200px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          position: relative;
          top: -5px;
        }
      }
      &--center {
        align-self: center;
        justify-self: center;
        background: rgba(43, 101, 217, 0.1);
        border-radius: 10px;
        padding: 16px 14px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .swTry {
    display: flex;
    flex-direction: column;

    .try {
      &__item {
        flex-direction: column;
      }
    }
  }
}
