.main-wrapper {
  display: flex;
  flex-direction: column;
}
.swMain-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  .hero {
    background-color: transparent;
  }
}
