

.tr--selected {
background: #2B65D9;
border-radius: 8px;

 td {
  color: #ffffff !important;
 }
 a {
  color: #ffffff !important;
 }


 &:hover {
   td {
    color: rgb(2, 16, 43) !important;
   }
   a {
    color: #2B65D9 !important;
   }
  
 }
}