
@import './_reset.scss';
@import './_utils.scss';

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  src: local(''),
       url('../assets/fonts/SourceSansPro-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Source Sans Pro', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  // text-decoration: none;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: rgba(2,16,43,0.12);
  border-radius: 4px;
  cursor: pointer !important;
}
 
::-webkit-scrollbar-track {
  background: transparent;
}
 
::-webkit-scrollbar-thumb {
  background: rgba(2,16,43,0.12);
  border-radius: 4px;
  width: 8px;
  cursor: pointer;
  // outline: 1px solid slategrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


[data-baseweb="toaster"],
[data-baseweb="modal"],
[data-baseweb="popover"] {
  z-index: 1000;
}

// iconfont of symbol
// svg path {  
//   fill: inherit;  
// }   
.icon-container {
  position: relative; 
  svg path {
    fill: '#5181E0';
    color: '#5181E0';
  }
  
  .icon {
    vertical-align: -0.15em;
    fill: '#5181E0';
    color: '#5181E0';
    overflow: hidden;
    position: absolute; 
    height: 100%; 
    width: 100%; 
    left: 0; 
    top: 0;
  }
}
.icon-container-no-color {
  position: relative; 

  .icon {
    fill: inherit;
  }
 
  svg.icon path {
    fill: inherit; 
  }
}

// for selected view log  in tasks
.tr--selected {
background: #5181E0 ;
border-radius: 8px;

 td {
  color: #ffffff !important;
 }
 a {
  color: #ffffff !important;
 }
 td::first-child { border-top-left-radius: 8px; border-bottom-left-radius: 8px; }
 td::last-child { border-top-right-radius: 8px; border-bottom-right-radius: 8px;  }


 &:hover {
   td {
    color: rgb(2, 16, 43) !important;
   }
   a {
    color: #5181E0  !important;
   }
  
 }
}

table { border-collapse: separate; }


.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.flex-column-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.flex-row-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes logo-width {
  0% { width: 0%; }
  50% { width: 50%; }
  100% { width: 100%; }
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rtl {
  direction: 'rtl';
  text-overflow: 'ellipsis';
  white-space: 'nowrap';
  overflow: 'hidden';
}

.mb-20 {
  margin-bottom: 20px;
}

.g-20 {
  gap: 20px;
}

.resize-left {
  width: 18px;
  height: 40px;
  background-image: url(../assets/left.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  @extend .flex-column-center;
  color: rgba(2,16,43,0.60);
  &--hover {
    background-image: url(../assets/left-shadow.png);
  }
  position: relative;
  left: -3px;
}


.resize-right {
  width: 18px;
  height: 40px;
  background-image: url(../assets/right.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  @extend .flex-column-center;
  color: rgba(2,16,43,0.60);

  &--hover {
    background-image: url(../assets/right-shadow.png);
  }
  position: relative;
  top: -14px;
  right: 5px;

}
