{
    "openapi": "3.0.1",
    "info": {
        "title": "StarWhale Rest Api",
        "description": "Rest Api for starWhale controller",
        "version": "{sw.version:1.0}"
    },
    "servers": [
        {
            "url": "http://console.pre.intra.starwhale.ai",
            "description": "Generated server url"
        }
    ],
    "security": [
        {
            "Authorization": []
        }
    ],
    "tags": [
        {
            "name": "Runtime"
        },
        {
            "name": "Log"
        },
        {
            "name": "SWRuntime"
        },
        {
            "name": "User"
        },
        {
            "name": "Job"
        },
        {
            "name": "Model"
        },
        {
            "name": "System"
        },
        {
            "name": "Project"
        },
        {
            "name": "Dataset"
        },
        {
            "name": "Evaluation"
        }
    ],
    "paths": {
        "/api/v1/user/{userId}/state": {
            "put": {
                "tags": [
                    "User"
                ],
                "summary": "Enable or disable a user",
                "operationId": "updateUserState",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User ID to enable or disable",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserUpdateStateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/user/{userId}/pwd": {
            "put": {
                "tags": [
                    "User"
                ],
                "summary": "Change user password",
                "operationId": "updateUserPwd",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User id to change password",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserUpdatePasswordRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}": {
            "get": {
                "tags": [
                    "Project"
                ],
                "summary": "Get a project by Url",
                "description": "Returns a single project object.",
                "operationId": "getProjectByUrl",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProjectVO"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Project"
                ],
                "summary": "Modify project information",
                "operationId": "updateProject",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProjectRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Project"
                ],
                "summary": "Delete a project by Url",
                "operationId": "deleteProjectByUrl",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/runtime/{runtimeUrl}/version/{versionUrl}/tag": {
            "put": {
                "tags": [
                    "SWRuntime"
                ],
                "summary": "Manage tag of the runtime version",
                "operationId": "manageRuntimeTag",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RuntimeTagRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/runtime/{runtimeUrl}/version/{runtimeVersionUrl}": {
            "put": {
                "tags": [
                    "SWRuntime"
                ],
                "summary": "Set tag of the model version",
                "operationId": "modifyRuntime",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeVersionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RuntimeTagRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/runtime/{runtimeUrl}/recover": {
            "put": {
                "tags": [
                    "SWRuntime"
                ],
                "summary": "Recover a runtime",
                "operationId": "recoverRuntime",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/recover": {
            "put": {
                "tags": [
                    "Project"
                ],
                "summary": "Recover a project",
                "operationId": "recoverProject",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/model/{modelUrl}/version/{versionUrl}": {
            "put": {
                "tags": [
                    "Model"
                ],
                "summary": "Set tag of the model version",
                "operationId": "modifyModel",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modelUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SWMPTagRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/model/{modelUrl}/version/{versionUrl}/tag": {
            "put": {
                "tags": [
                    "Model"
                ],
                "summary": "Manage tag of the model version",
                "operationId": "manageModelTag",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modelUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SWMPTagRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/model/{modelUrl}/recover": {
            "put": {
                "tags": [
                    "Model"
                ],
                "summary": "Recover a model",
                "operationId": "recoverModel",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modelUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/job/{jobUrl}": {
            "get": {
                "tags": [
                    "Job"
                ],
                "summary": "Job information",
                "operationId": "findJob",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "jobUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobVO"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Job"
                ],
                "summary": "Set Job Comment",
                "operationId": "modifyJobComment",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "jobUrl",
                        "in": "path",
                        "description": "Job id or uuid",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JobModifyRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Job"
                ],
                "summary": "Remove job",
                "operationId": "removeJob",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "jobUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/dataset/{datasetUrl}/version/{versionUrl}": {
            "put": {
                "tags": [
                    "Dataset"
                ],
                "summary": "Set the tag of the dataset version",
                "operationId": "modifyDatasetVersionInfo",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "datasetUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SWDSTagRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/dataset/{datasetUrl}/version/{versionUrl}/tag": {
            "put": {
                "tags": [
                    "Dataset"
                ],
                "summary": "Manage tag of the dataset version",
                "description": "add|remove|set tags",
                "operationId": "manageDatasetTag",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "datasetUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SWDSTagRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/dataset/{datasetUrl}/recover": {
            "put": {
                "tags": [
                    "Dataset"
                ],
                "summary": "Recover a dataset",
                "operationId": "recoverDataset",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "datasetUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/user": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get the list of users",
                "operationId": "listUser",
                "parameters": [
                    {
                        "name": "userName",
                        "in": "query",
                        "description": "User name prefix to search for",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageNum",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Rows per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageInfo"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Create a new user",
                "operationId": "createUser",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/system/version/{action}": {
            "post": {
                "tags": [
                    "System"
                ],
                "summary": "Upgrade system version or cancel upgrade",
                "operationId": "systemVersionAction",
                "parameters": [
                    {
                        "name": "action",
                        "in": "path",
                        "description": "Action: upgrade or cancel",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "upgrade",
                                "cancel"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/report": {
            "post": {
                "tags": [
                    "report-controller"
                ],
                "operationId": "report",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReportRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageReportResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project": {
            "get": {
                "tags": [
                    "Project"
                ],
                "summary": "Get the list of projects",
                "operationId": "listProject",
                "parameters": [
                    {
                        "name": "projectName",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "isDeleted",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "ownerId",
                        "in": "query",
                        "description": "Id of the project owner",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ownerName",
                        "in": "query",
                        "description": "Name of the project owner",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageNum",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageInfo"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Project"
                ],
                "summary": "Create a new project",
                "operationId": "createProject",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProjectRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/runtime/{runtimeUrl}/revert": {
            "post": {
                "tags": [
                    "SWRuntime"
                ],
                "summary": "Revert Runtime version",
                "description": "Select a historical version of the runtime and revert the latest version of the current runtime to this version",
                "operationId": "revertRuntimeVersion",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeUrl",
                        "in": "path",
                        "description": "Runtime Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RuntimeRevertRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/model/{modelUrl}/revert": {
            "post": {
                "tags": [
                    "Model"
                ],
                "summary": "Revert model version",
                "description": "Select a historical version of the model and revert the latest version of the current model to this version",
                "operationId": "revertModelVersion",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modelUrl",
                        "in": "path",
                        "description": "Model Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RevertSWMPVersionRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/job": {
            "get": {
                "tags": [
                    "Job"
                ],
                "summary": "Get the list of jobs",
                "operationId": "listJobs",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "swmpId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageNum",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageInfo"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Job"
                ],
                "summary": "Create a new job",
                "operationId": "createJob",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JobRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/job/{jobUrl}/{action}": {
            "post": {
                "tags": [
                    "Job"
                ],
                "summary": "Job Action",
                "operationId": "action",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "jobUrl",
                        "in": "path",
                        "description": "Job Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "action",
                        "in": "path",
                        "description": "Job action",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/job/{jobUrl}/recover": {
            "post": {
                "tags": [
                    "Job"
                ],
                "summary": "Recover job",
                "operationId": "recoverJob",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "jobUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/evaluation/view/config": {
            "get": {
                "tags": [
                    "Evaluation"
                ],
                "summary": "Get View Config",
                "operationId": "getViewConfig",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageConfigVO"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Evaluation"
                ],
                "summary": "Create or Update View Config",
                "operationId": "createViewConfig",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ConfigRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/dataset/{datasetUrl}/revert": {
            "post": {
                "tags": [
                    "Dataset"
                ],
                "summary": "Revert Dataset version",
                "description": "Select a historical version of the dataset and revert the latest version of the current dataset to this version",
                "operationId": "revertDatasetVersion",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "datasetUrl",
                        "in": "path",
                        "description": "Dataset Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RevertSWDSRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/runtime/push": {
            "post": {
                "tags": [
                    "SWRuntime"
                ],
                "summary": "Create a new runtime version",
                "description": "Create a new version of the runtime. The data resources can be selected by uploading the file package or entering the server path.",
                "operationId": "upload",
                "parameters": [
                    {
                        "name": "uploadRequest",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ClientRuntimeRequest"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "file"
                                ],
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "description": "file detail",
                                        "format": "binary"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/model": {
            "get": {
                "tags": [
                    "Model"
                ],
                "summary": "Pull SWMP binary ",
                "description": "Pull SWMP binary",
                "operationId": "pullModel",
                "parameters": [
                    {
                        "name": "pullRequest",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ClientSWMPRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok"
                    }
                }
            },
            "post": {
                "tags": [
                    "Model"
                ],
                "summary": "Create a new swmp version",
                "description": "Create a new version of the swmp. The data resources can be selected by uploading the file package or entering the server path.",
                "operationId": "uploadModel",
                "parameters": [
                    {
                        "name": "uploadRequest",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ClientSWMPRequest"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "file"
                                ],
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "description": "file detail",
                                        "format": "binary"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            },
            "head": {
                "tags": [
                    "Model"
                ],
                "summary": "head for swmp info ",
                "description": "head for swmp info",
                "operationId": "headModel",
                "parameters": [
                    {
                        "name": "queryRequest",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ClientSWMPRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/model/push": {
            "post": {
                "tags": [
                    "Model"
                ],
                "summary": "Create a new swmp version",
                "description": "Create a new version of the swmp. The data resources can be selected by uploading the file package or entering the server path.",
                "operationId": "upload_1",
                "parameters": [
                    {
                        "name": "uploadRequest",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ClientSWMPRequest"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "file"
                                ],
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "description": "file detail",
                                        "format": "binary"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/dataset/push": {
            "post": {
                "tags": [
                    "Dataset"
                ],
                "summary": "Create a new dataset version",
                "description": "Create a new version of the dataset. The data resources can be selected by uploading the file package or entering the server path.",
                "operationId": "uploadDS",
                "parameters": [
                    {
                        "name": "X-SW-UPLOAD-ID",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "uploadRequest",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UploadRequest"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "description": "file detail",
                                        "format": "binary"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageUploadResult"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/runtime": {
            "head": {
                "tags": [
                    "SWRuntime"
                ],
                "summary": "head for runtime info ",
                "description": "head for runtime info",
                "operationId": "headRuntime",
                "parameters": [
                    {
                        "name": "queryRequest",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ClientRuntimeRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/dataset": {
            "head": {
                "tags": [
                    "Dataset"
                ],
                "summary": "head for swds info ",
                "description": "head for swds info",
                "operationId": "headDataset",
                "parameters": [
                    {
                        "name": "uploadRequest",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UploadRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/user/{userId}": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get a user by user ID",
                "operationId": "getUserById",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserVO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/user/current": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get the current logged in user.",
                "operationId": "getCurrentUser",
                "responses": {
                    "200": {
                        "description": "ok.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserVO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/system/version": {
            "get": {
                "tags": [
                    "System"
                ],
                "summary": "Get current version of the system",
                "operationId": "getCurrentVersion",
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SystemVersionVO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/system/version/progress": {
            "get": {
                "tags": [
                    "System"
                ],
                "summary": "Get the current upgrade progress",
                "description": "Get the current server upgrade process. If downloading, return the download progress",
                "operationId": "getUpgradeProgress",
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpgradeProgressVO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/system/version/latest": {
            "get": {
                "tags": [
                    "System"
                ],
                "summary": "Get latest version of the system",
                "operationId": "getLatestVersion",
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SystemVersionVO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/system/agent": {
            "get": {
                "tags": [
                    "System"
                ],
                "summary": "Get the list of agents",
                "operationId": "listAgent",
                "parameters": [
                    {
                        "name": "ip",
                        "in": "query",
                        "description": "Agent ip to search for",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageNum",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Rows per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageInfo"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "System"
                ],
                "summary": "remove offline agent",
                "operationId": "deleteAgent",
                "parameters": [
                    {
                        "name": "serialNumber",
                        "in": "query",
                        "description": "the serialNumber of the agent to be deleted",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/runtime/device": {
            "get": {
                "tags": [
                    "Runtime"
                ],
                "summary": "Get the list of device types",
                "operationId": "listDevice",
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/runtime": {
            "get": {
                "tags": [
                    "SWRuntime"
                ],
                "summary": "Get the list of runtimes",
                "operationId": "listRuntime",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeName",
                        "in": "query",
                        "description": "Runtime name prefix to search for",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageNum",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Rows per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageInfo"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/runtime/{runtimeUrl}": {
            "get": {
                "tags": [
                    "SWRuntime"
                ],
                "summary": "Get the information of a runtime",
                "description": "Return the information of the latest version of the current runtime",
                "operationId": "getRuntimeInfo",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeVersionUrl",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageRuntimeInfoVO"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "SWRuntime"
                ],
                "summary": "Delete a runtime",
                "operationId": "deleteRuntime",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/runtime/{runtimeUrl}/version": {
            "get": {
                "tags": [
                    "SWRuntime"
                ],
                "summary": "Get the list of the runtime versions",
                "operationId": "listRuntimeVersion",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeUrl",
                        "in": "path",
                        "description": "Runtime Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "vName",
                        "in": "query",
                        "description": "Runtime version name prefix",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "vTag",
                        "in": "query",
                        "description": "Runtime version tag",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageNum",
                        "in": "query",
                        "description": "The page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Rows per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessagePageInfoRuntimeVersionVO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/model": {
            "get": {
                "tags": [
                    "Model"
                ],
                "summary": "Get the list of models",
                "operationId": "listModel",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionId",
                        "in": "query",
                        "description": "Model versionId",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modelName",
                        "in": "query",
                        "description": "Model name prefix to search for",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageNum",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Rows per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageInfo"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/model/{modelUrl}": {
            "get": {
                "tags": [
                    "Model"
                ],
                "summary": "Model information",
                "description": "Return the file information in the model package of the latest version of the current model",
                "operationId": "getModelInfo",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modelUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionUrl",
                        "in": "query",
                        "description": "Model versionUrl. (Return the current version as default when the versionUrl is not set.)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SWModelPackageInfoVO"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Model"
                ],
                "summary": "Delete a model",
                "operationId": "deleteModel",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modelUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/model/{modelUrl}/version": {
            "get": {
                "tags": [
                    "Model"
                ],
                "summary": "Get the list of model versions",
                "operationId": "listModelVersion",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modelUrl",
                        "in": "path",
                        "description": "Model Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Model version name prefix to search for",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tag",
                        "in": "query",
                        "description": "Model version tag",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageNum",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Rows per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageInfo"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/job/{jobUrl}/task": {
            "get": {
                "tags": [
                    "Job"
                ],
                "summary": "Get the list of tasks",
                "operationId": "listTasks",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "jobUrl",
                        "in": "path",
                        "description": "Job Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageNum",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageInfo"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/job/{jobUrl}/result": {
            "get": {
                "tags": [
                    "Job"
                ],
                "summary": "Job Evaluation Result",
                "operationId": "getJobResult",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "jobUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/job/{jobUrl}/dag": {
            "get": {
                "tags": [
                    "Job"
                ],
                "summary": "DAG of Job",
                "operationId": "getJobDAG",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "jobUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Graph"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/evaluation": {
            "get": {
                "tags": [
                    "Evaluation"
                ],
                "summary": "List Evaluation Summary",
                "operationId": "listEvaluationSummary",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageNum",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessagePageInfoSummaryVO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/evaluation/view/attribute": {
            "get": {
                "tags": [
                    "Evaluation"
                ],
                "summary": "List Evaluation Summary Attributes",
                "operationId": "listAttributes",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageListAttributeVO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/dataset": {
            "get": {
                "tags": [
                    "Dataset"
                ],
                "summary": "Get the list of the datasets",
                "operationId": "listDataset",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
[...]
