{
    "openapi": "3.0.1",
    "info": {
        "title": "Starwhale Rest Api",
        "description": "Rest Api for Starwhale controller",
        "version": "{sw.version:1.0}"
    },
    "servers": [
        {
            "url": "http://e2e-20231007.pre.intra.starwhale.ai",
            "description": "Generated server url"
        }
    ],
    "security": [
        {
            "Authorization": []
        }
    ],
    "tags": [
        {
            "name": "Runtime"
        },
        {
            "name": "Report"
        },
        {
            "name": "Panel"
        },
        {
            "name": "Trash"
        },
        {
            "name": "Dataset"
        },
        {
            "name": "Evaluation"
        },
        {
            "name": "File storage",
            "description": "File storage operations"
        },
        {
            "name": "Log"
        },
        {
            "name": "User"
        },
        {
            "name": "Job"
        },
        {
            "name": "Model"
        },
        {
            "name": "System"
        },
        {
            "name": "Project"
        }
    ],
    "paths": {
        "/api/v1/user/{userId}/state": {
            "put": {
                "tags": [
                    "User"
                ],
                "summary": "Enable or disable a user",
                "operationId": "updateUserState",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserUpdateStateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/user/{userId}/pwd": {
            "put": {
                "tags": [
                    "User"
                ],
                "summary": "Change user password",
                "operationId": "updateUserPwd",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserUpdatePasswordRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/user/current/pwd": {
            "put": {
                "tags": [
                    "User"
                ],
                "summary": "Update Current User password",
                "operationId": "updateCurrentUserPassword",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserUpdatePasswordRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Check Current User password",
                "operationId": "checkCurrentUserPassword",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserCheckPasswordRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/role/{systemRoleId}": {
            "put": {
                "tags": [
                    "User"
                ],
                "summary": "Update user role of system",
                "operationId": "updateUserSystemRole",
                "parameters": [
                    {
                        "name": "systemRoleId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserRoleUpdateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "User"
                ],
                "summary": "Delete user role of system",
                "operationId": "deleteUserSystemRole",
                "parameters": [
                    {
                        "name": "systemRoleId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserRoleDeleteRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}": {
            "get": {
                "tags": [
                    "Project"
                ],
                "summary": "Get a project by Url",
                "description": "Returns a single project object.",
                "operationId": "getProjectByUrl",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageProjectVo"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Project"
                ],
                "summary": "Modify project information",
                "operationId": "updateProject",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateProjectRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Project"
                ],
                "summary": "Delete a project by Url",
                "operationId": "deleteProjectByUrl",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/trash/{trashId}": {
            "put": {
                "tags": [
                    "Trash"
                ],
                "summary": "Restore trash by id.",
                "description": "Restore a trash to its original type and move it out of the recycle bin.",
                "operationId": "recoverTrash",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "trashId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Trash"
                ],
                "summary": "Delete trash by id.",
                "description": "Move a trash out of the recycle bin. This operation cannot be resumed.",
                "operationId": "deleteTrash",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "trashId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/runtime/{runtimeUrl}/version/{versionUrl}/image": {
            "put": {
                "tags": [
                    "Runtime"
                ],
                "summary": "update image for runtime",
                "description": "update image for runtime",
                "operationId": "updateRuntime",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string",
                                "description": "the image used for this runtime"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/runtime/{runtimeUrl}/version/{runtimeVersionUrl}": {
            "put": {
                "tags": [
                    "Runtime"
                ],
                "summary": "Set tag of the runtime version",
                "operationId": "modifyRuntime",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeVersionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RuntimeTagRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/runtime/{runtimeUrl}/version/{runtimeVersionUrl}/shared": {
            "put": {
                "tags": [
                    "Runtime"
                ],
                "summary": "Share or unshare the runtime version",
                "operationId": "shareRuntimeVersion",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeVersionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "shared",
                        "in": "query",
                        "description": "1 or true - shared, 0 or false - unshared",
                        "required": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/runtime/{runtimeUrl}/recover": {
            "put": {
                "tags": [
                    "Runtime"
                ],
                "summary": "Recover a runtime",
                "operationId": "recoverRuntime",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/role/{projectRoleId}": {
            "put": {
                "tags": [
                    "Project"
                ],
                "summary": "Modify a project role",
                "operationId": "modifyProjectRole",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "projectRoleId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "roleId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Project"
                ],
                "summary": "Delete a project role",
                "operationId": "deleteProjectRole",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "projectRoleId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/report/{reportId}": {
            "get": {
                "tags": [
                    "Report"
                ],
                "operationId": "getReport",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "reportId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageReportVo"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Report"
                ],
                "operationId": "modifyReport",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "reportId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateReportRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Report"
                ],
                "operationId": "deleteReport",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "reportId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/report/{reportId}/shared": {
            "put": {
                "tags": [
                    "Report"
                ],
                "operationId": "sharedReport",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "reportId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "shared",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/model/{modelUrl}/version/{versionUrl}": {
            "put": {
                "tags": [
                    "Model"
                ],
                "operationId": "modifyModel",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modelUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ModelUpdateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            },
            "head": {
                "tags": [
                    "Model"
                ],
                "operationId": "headModel",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modelUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/model/{modelUrl}/version/{versionUrl}/shared": {
            "put": {
                "tags": [
                    "Model"
                ],
                "operationId": "shareModelVersion",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modelUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "shared",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/model/{modelUrl}/recover": {
            "put": {
                "tags": [
                    "Model"
                ],
                "operationId": "recoverModel",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modelUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/job/{jobUrl}": {
            "get": {
                "tags": [
                    "Job"
                ],
                "summary": "Job information",
                "operationId": "findJob",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "jobUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageJobVo"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Job"
                ],
                "summary": "Set Job Comment",
                "operationId": "modifyJobComment",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "jobUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JobModifyRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Job"
                ],
                "summary": "Remove job",
                "operationId": "removeJob",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "jobUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/dataset/{datasetUrl}/version/{versionUrl}/shared": {
            "put": {
                "tags": [
                    "Dataset"
                ],
                "summary": "Share or unshare the dataset version",
                "operationId": "shareDatasetVersion",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "datasetUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "shared",
                        "in": "query",
                        "description": "1 or true - shared, 0 or false - unshared",
                        "required": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/dataset/{datasetUrl}/recover": {
            "put": {
                "tags": [
                    "Dataset"
                ],
                "summary": "Recover a dataset",
                "operationId": "recoverDataset",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "datasetUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectId}/recover": {
            "put": {
                "tags": [
                    "Project"
                ],
                "summary": "Recover a project",
                "operationId": "recoverProject",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/filestorage/signedurl": {
            "get": {
                "tags": [
                    "File storage"
                ],
                "summary": "Apply signedUrls for get",
                "description": "Apply signedUrls for get",
                "operationId": "applySignedGetUrls",
                "parameters": [
                    {
                        "name": "pathPrefix",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageSignedUrlResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "File storage"
                ],
                "summary": "Apply signedUrls for put",
                "description": "Apply signedUrls for put",
                "operationId": "applySignedPutUrls",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApplySignedUrlRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageSignedUrlResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/user": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get the list of users",
                "operationId": "listUser",
                "parameters": [
                    {
                        "name": "userName",
                        "in": "query",
                        "description": "User name prefix to search for",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageNum",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessagePageInfoUserVo"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Create a new user",
                "operationId": "createUser",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/system/upgrade/instance/status": {
            "post": {
                "tags": [
                    "rolling-update-controller"
                ],
                "summary": "instance status notify",
                "operationId": "instanceStatus",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "BORN",
                                "READY_DOWN",
                                "READY_UP",
                                "DOWN"
                            ]
                        }
                    },
                    {
                        "name": "instanceType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "NEW",
                                "OLD"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/system/setting": {
            "get": {
                "tags": [
                    "System"
                ],
                "summary": "Get system settings",
                "description": "Get system settings in yaml string",
                "operationId": "querySetting",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "System"
                ],
                "summary": "Update system settings",
                "description": "Update system settings",
                "operationId": "updateSetting",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/system/resourcePool": {
            "get": {
                "tags": [
                    "System"
                ],
                "summary": "Get the list of resource pool",
                "operationId": "listResourcePools",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageListResourcePool"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "System"
                ],
                "summary": "Update resource pool",
                "operationId": "updateResourcePools",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/ResourcePool"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/role": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "List system role of users",
                "operationId": "listSystemRoles",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageListProjectMemberVo"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Add user role of system",
                "operationId": "addUserSystemRole",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserRoleAddRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project": {
            "get": {
                "tags": [
                    "Project"
                ],
                "summary": "Get the list of projects",
                "operationId": "listProject",
                "parameters": [
                    {
                        "name": "projectName",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageNum",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    },
                    {
                        "name": "sort",
                        "in": "path",
                        "description": "The sort type of project list. (Default=visited)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "visited",
                                "latest",
                                "oldest"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessagePageInfoProjectVo"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Project"
                ],
                "summary": "Create or Recover a new project",
                "operationId": "createProject",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateProjectRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{project}/model/{modelName}/version/{version}/completeUpload": {
            "post": {
                "tags": [
                    "Model"
                ],
                "operationId": "createModelVersion",
                "parameters": [
                    {
                        "name": "project",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modelName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[a-zA-Z][a-zA-Z\\d_-]{2,80}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateModelVersionRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/serving": {
            "post": {
                "tags": [
                    "Job"
                ],
                "summary": "Create a new model serving job",
                "operationId": "createModelServing",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ModelServingRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageModelServingVo"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/runtime/{runtimeUrl}/version/{versionUrl}/tag": {
            "get": {
                "tags": [
                    "Runtime"
                ],
                "operationId": "listRuntimeVersionTags",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageListString"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Runtime"
                ],
                "operationId": "addRuntimeVersionTag",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RuntimeTagRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/runtime/{runtimeUrl}/version/{versionUrl}/image/build": {
            "post": {
                "tags": [
                    "Runtime"
                ],
                "summary": "build image for runtime",
                "description": "build image for runtime",
                "operationId": "buildRuntimeImage",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RunEnvs"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageBuildImageResult"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/runtime/{runtimeUrl}/revert": {
            "post": {
                "tags": [
                    "Runtime"
                ],
                "summary": "Revert Runtime version",
                "description": "Select a historical version of the runtime and revert the latest version of the current runtime to this version",
                "operationId": "revertRuntimeVersion",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RuntimeRevertRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/runtime/{runtimeName}/version/{versionName}/file": {
            "post": {
                "tags": [
                    "Runtime"
                ],
                "summary": "Create a new runtime version",
                "description": "Create a new version of the runtime. The data resources can be selected by uploading the file package or entering the server path.",
                "operationId": "upload",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[a-zA-Z][a-zA-Z\\d_-]{2,80}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "uploadRequest",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ClientRuntimeRequest"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "file"
                                ],
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/role": {
            "get": {
                "tags": [
                    "Project"
                ],
                "summary": "List project roles",
                "operationId": "listProjectRole",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageListProjectMemberVo"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Project"
                ],
                "summary": "Grant project role to a user",
                "operationId": "addProjectRole",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "roleId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/report": {
            "get": {
                "tags": [
                    "Report"
                ],
                "summary": "Get the list of reports",
                "operationId": "listReports",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageNum",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessagePageInfoReportVo"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Report"
                ],
                "operationId": "createReport",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateReportRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/report/{reportId}/transfer": {
            "post": {
                "tags": [
                    "Report"
                ],
                "operationId": "transfer",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "reportId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TransferReportRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/model/{modelUrl}/version/{versionUrl}/tag": {
            "get": {
                "tags": [
                    "Model"
                ],
                "operationId": "listModelVersionTags",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modelUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageListString"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Model"
                ],
                "operationId": "addModelVersionTag",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modelUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ModelTagRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/model/{modelUrl}/revert": {
            "post": {
                "tags": [
                    "Model"
                ],
                "operationId": "revertModelVersion",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modelUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RevertModelVersionRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/job": {
            "get": {
                "tags": [
                    "Job"
                ],
                "summary": "Get the list of jobs",
                "operationId": "listJobs",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "swmpId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageNum",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessagePageInfoJobVo"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Job"
                ],
                "summary": "Create a new job",
                "operationId": "createJob",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JobRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/job/{jobUrl}/{action}": {
            "post": {
                "tags": [
                    "Job"
                ],
                "summary": "Job Action",
                "operationId": "action",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "jobUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "action",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/job/{jobUrl}/task/{taskId}/exec": {
            "post": {
                "tags": [
                    "Job"
                ],
                "summary": "Execute command in running task",
                "operationId": "exec",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "jobUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "taskId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExecRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageExecResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/job/{jobUrl}/recover": {
            "post": {
                "tags": [
                    "Job"
                ],
                "summary": "Recover job",
                "operationId": "recoverJob",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "jobUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/job/{jobUrl}/pin": {
            "post": {
                "tags": [
                    "Job"
                ],
                "summary": "Pin Job",
                "operationId": "modifyJobPinStatus",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "jobUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JobModifyPinRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/job/{jobUrl}/event": {
            "get": {
                "tags": [
                    "Job"
                ],
                "summary": "Get events of job or task",
                "operationId": "getEvents",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "jobUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "taskId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
[...]
