{
    "openapi": "3.0.1",
    "info": {
        "title": "Starwhale Rest Api",
        "description": "Rest Api for Starwhale controller",
        "version": "{sw.version:1.0}"
    },
    "servers": [
        {
            "url": "http://jialei.pre.intra.starwhale.ai",
            "description": "Generated server url"
        }
    ],
    "security": [
        {
            "Authorization": []
        }
    ],
    "tags": [
        {
            "name": "Runtime"
        },
        {
            "name": "Panel"
        },
        {
            "name": "Log"
        },
        {
            "name": "User"
        },
        {
            "name": "Trash"
        },
        {
            "name": "Job"
        },
        {
            "name": "Model"
        },
        {
            "name": "System"
        },
        {
            "name": "Project"
        },
        {
            "name": "Dataset"
        },
        {
            "name": "Evaluation"
        }
    ],
    "paths": {
        "/api/v1/user/{userId}/state": {
            "put": {
                "tags": [
                    "User"
                ],
                "summary": "Enable or disable a user",
                "operationId": "updateUserState",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User ID to enable or disable",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserUpdateStateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/user/{userId}/pwd": {
            "put": {
                "tags": [
                    "User"
                ],
                "summary": "Change user password",
                "operationId": "updateUserPwd",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User id to change password",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserUpdatePasswordRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/user/current/pwd": {
            "put": {
                "tags": [
                    "User"
                ],
                "summary": "Update Current User password",
                "operationId": "updateCurrentUserPassword",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserUpdatePasswordRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Check Current User password",
                "operationId": "checkCurrentUserPassword",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserCheckPasswordRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/role/{systemRoleId}": {
            "put": {
                "tags": [
                    "User"
                ],
                "summary": "Update user role of system",
                "operationId": "updateUserSystemRole",
                "parameters": [
                    {
                        "name": "systemRoleId",
                        "in": "path",
                        "description": "System Role ID to update",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserRoleUpdateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "User"
                ],
                "summary": "Delete user role of system",
                "operationId": "deleteUserSystemRole",
                "parameters": [
                    {
                        "name": "systemRoleId",
                        "in": "path",
                        "description": "System Role ID to delete",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserRoleDeleteRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}": {
            "get": {
                "tags": [
                    "Project"
                ],
                "summary": "Get a project by Url",
                "description": "Returns a single project object.",
                "operationId": "getProjectByUrl",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageProjectVo"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Project"
                ],
                "summary": "Modify project information",
                "operationId": "updateProject",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateProjectRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Project"
                ],
                "summary": "Delete a project by Url",
                "operationId": "deleteProjectByUrl",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/trash/{trashId}": {
            "put": {
                "tags": [
                    "Trash"
                ],
                "summary": "Restore trash by id.",
                "description": "Restore a trash to its original type and move it out of the recycle bin.",
                "operationId": "recoverTrash",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "trashId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Trash"
                ],
                "summary": "Delete trash by id.",
                "description": "Move a trash out of the recycle bin. This operation cannot be resumed.",
                "operationId": "deleteTrash",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "trashId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/runtime/{runtimeUrl}/version/{versionUrl}/tag": {
            "put": {
                "tags": [
                    "Runtime"
                ],
                "summary": "Manage tag of the runtime version",
                "operationId": "manageRuntimeTag",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RuntimeTagRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/runtime/{runtimeUrl}/version/{runtimeVersionUrl}": {
            "put": {
                "tags": [
                    "Runtime"
                ],
                "summary": "Set tag of the runtime version",
                "operationId": "modifyRuntime",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeVersionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RuntimeTagRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/runtime/{runtimeUrl}/version/{runtimeVersionUrl}/shared": {
            "put": {
                "tags": [
                    "Runtime"
                ],
                "summary": "Share or unshare the runtime version",
                "operationId": "shareRuntimeVersion",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeVersionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "shared",
                        "in": "query",
                        "description": "1 or true - shared, 0 or false - unshared",
                        "required": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/runtime/{runtimeUrl}/recover": {
            "put": {
                "tags": [
                    "Runtime"
                ],
                "summary": "Recover a runtime",
                "operationId": "recoverRuntime",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/role/{projectRoleId}": {
            "put": {
                "tags": [
                    "Project"
                ],
                "summary": "Modify a project role",
                "operationId": "modifyProjectRole",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "projectRoleId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "roleId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Project"
                ],
                "summary": "Delete a project role",
                "operationId": "deleteProjectRole",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "projectRoleId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/model/{modelUrl}/version/{versionUrl}": {
            "put": {
                "tags": [
                    "Model"
                ],
                "summary": "Set tag of the model version",
                "operationId": "modifyModel",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modelUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ModelTagRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            },
            "head": {
                "tags": [
                    "Model"
                ],
                "summary": "head for model info ",
                "description": "head for model info",
                "operationId": "headModel",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modelUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/model/{modelUrl}/version/{versionUrl}/tag": {
            "put": {
                "tags": [
                    "Model"
                ],
                "summary": "Manage tag of the model version",
                "operationId": "manageModelTag",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modelUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ModelTagRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/model/{modelUrl}/version/{versionUrl}/shared": {
            "put": {
                "tags": [
                    "Model"
                ],
                "summary": "Share or unshare the model version",
                "operationId": "shareModelVersion",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modelUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "shared",
                        "in": "query",
                        "description": "1 or true - shared, 0 or false - unshared",
                        "required": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/model/{modelUrl}/recover": {
            "put": {
                "tags": [
                    "Model"
                ],
                "summary": "Recover a model",
                "operationId": "recoverModel",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modelUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/job/{jobUrl}": {
            "get": {
                "tags": [
                    "Job"
                ],
                "summary": "Job information",
                "operationId": "findJob",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "jobUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageJobVo"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Job"
                ],
                "summary": "Set Job Comment",
                "operationId": "modifyJobComment",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "jobUrl",
                        "in": "path",
                        "description": "Job id or uuid",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JobModifyRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Job"
                ],
                "summary": "Remove job",
                "operationId": "removeJob",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "jobUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/dataset/{datasetUrl}/version/{versionUrl}/tag": {
            "put": {
                "tags": [
                    "Dataset"
                ],
                "summary": "Manage tag of the dataset version",
                "description": "add|remove|set tags",
                "operationId": "manageDatasetTag",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "datasetUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DatasetTagRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/dataset/{datasetUrl}/version/{versionUrl}/shared": {
            "put": {
                "tags": [
                    "Dataset"
                ],
                "summary": "Share or unshare the dataset version",
                "operationId": "shareDatasetVersion",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "datasetUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "shared",
                        "in": "query",
                        "description": "1 or true - shared, 0 or false - unshared",
                        "required": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/dataset/{datasetUrl}/recover": {
            "put": {
                "tags": [
                    "Dataset"
                ],
                "summary": "Recover a dataset",
                "operationId": "recoverDataset",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "datasetUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectId}/recover": {
            "put": {
                "tags": [
                    "Project"
                ],
                "summary": "Recover a project",
                "operationId": "recoverProject",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/user": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get the list of users",
                "operationId": "listUser",
                "parameters": [
                    {
                        "name": "userName",
                        "in": "query",
                        "description": "User name prefix to search for",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageNum",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Rows per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessagePageInfoUserVo"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Create a new user",
                "operationId": "createUser",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/system/version/upgrade": {
            "post": {
                "tags": [
                    "System"
                ],
                "summary": "Upgrade system version",
                "operationId": "upgradeVersion",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpgradeRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/system/setting": {
            "get": {
                "tags": [
                    "System"
                ],
                "summary": "Get system settings",
                "description": "Get system settings in yaml string",
                "operationId": "querySetting",
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "System"
                ],
                "summary": "Update system settings",
                "description": "Update system settings",
                "operationId": "updateSetting",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/role": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "List system role of users",
                "operationId": "listSystemRoles",
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageListProjectMemberVo"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Add user role of system",
                "operationId": "addUserSystemRole",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserRoleAddRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project": {
            "get": {
                "tags": [
                    "Project"
                ],
                "summary": "Get the list of projects",
                "operationId": "listProject",
                "parameters": [
                    {
                        "name": "projectName",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageNum",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    },
                    {
                        "name": "sort",
                        "in": "path",
                        "description": "The sort type of project list. (Default=visited)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "visited",
                                "latest",
                                "oldest"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessagePageInfoProjectVo"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Project"
                ],
                "summary": "Create or Recover a new project",
                "operationId": "createProject",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateProjectRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/serving": {
            "post": {
                "tags": [
                    "Job"
                ],
                "summary": "Create a new model serving job",
                "operationId": "createModelServing",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ModelServingRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageModelServingVo"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/runtime/{runtimeUrl}/version/{versionUrl}/image/build": {
            "post": {
                "tags": [
                    "Runtime"
                ],
                "summary": "build image for runtime",
                "description": "build image for runtime",
                "operationId": "buildRuntimeImage",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageBuildImageResult"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/runtime/{runtimeUrl}/revert": {
            "post": {
                "tags": [
                    "Runtime"
                ],
                "summary": "Revert Runtime version",
                "description": "Select a historical version of the runtime and revert the latest version of the current runtime to this version",
                "operationId": "revertRuntimeVersion",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeUrl",
                        "in": "path",
                        "description": "Runtime Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RuntimeRevertRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/runtime/{runtimeName}/version/{versionName}/file": {
            "post": {
                "tags": [
                    "Runtime"
                ],
                "summary": "Create a new runtime version",
                "description": "Create a new version of the runtime. The data resources can be selected by uploading the file package or entering the server path.",
                "operationId": "upload",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "runtimeName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[a-zA-Z][a-zA-Z\\d_-]{2,80}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "uploadRequest",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ClientRuntimeRequest"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "file"
                                ],
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "description": "file detail",
                                        "format": "binary"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/role": {
            "get": {
                "tags": [
                    "Project"
                ],
                "summary": "List project roles",
                "operationId": "listProjectRole",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageListProjectMemberVo"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Project"
                ],
                "summary": "Grant project role to a user",
                "operationId": "addProjectRole",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "roleId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/model/{modelUrl}/revert": {
            "post": {
                "tags": [
                    "Model"
                ],
                "summary": "Revert model version",
                "description": "Select a historical version of the model and revert the latest version of the current model to this version",
                "operationId": "revertModelVersion",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modelUrl",
                        "in": "path",
                        "description": "Model Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RevertModelVersionRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/model/{modelName}/version/{versionName}/file": {
            "post": {
                "tags": [
                    "Model"
                ],
                "summary": "Create a new model version",
                "description": "Create a new version of the model. The data resources can be selected by uploading the file package or entering the server path.",
                "operationId": "upload_1",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modelName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[a-zA-Z][a-zA-Z\\d_-]{2,80}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "uploadRequest",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ModelUploadRequest"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "description": "file detail",
                                        "format": "binary"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/job": {
            "get": {
                "tags": [
                    "Job"
                ],
                "summary": "Get the list of jobs",
                "operationId": "listJobs",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "swmpId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageNum",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessagePageInfoJobVo"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Job"
                ],
                "summary": "Create a new job",
                "operationId": "createJob",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JobRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/job/{jobUrl}/{action}": {
            "post": {
                "tags": [
                    "Job"
                ],
                "summary": "Job Action",
                "operationId": "action",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "jobUrl",
                        "in": "path",
                        "description": "Job Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "action",
                        "in": "path",
                        "description": "Job action",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/job/{jobUrl}/recover": {
            "post": {
                "tags": [
                    "Job"
                ],
                "summary": "Recover job",
                "operationId": "recoverJob",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "jobUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/evaluation/view/config": {
            "get": {
                "tags": [
                    "Evaluation"
                ],
                "summary": "Get View Config",
                "operationId": "getViewConfig",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageConfigVo"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Evaluation"
                ],
                "summary": "Create or Update View Config",
                "operationId": "createViewConfig",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ConfigRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/dataset/{datasetUrl}/version/{versionUrl}/consume": {
            "post": {
                "tags": [
                    "Dataset"
                ],
                "operationId": "consumeNextData",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "datasetUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DataConsumptionRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageDataIndexDesc"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/dataset/{datasetUrl}/revert": {
            "post": {
                "tags": [
                    "Dataset"
                ],
                "summary": "Revert Dataset version",
                "description": "Select a historical version of the dataset and revert the latest version of the current dataset to this version",
                "operationId": "revertDatasetVersion",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "description": "Project Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "datasetUrl",
                        "in": "path",
                        "description": "Dataset Url",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RevertDatasetRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectUrl}/dataset/{datasetName}/version/{versionName}/file": {
            "post": {
                "tags": [
                    "Dataset"
                ],
                "summary": "Create a new dataset version",
                "description": "Create a new version of the dataset. The data resources can be selected by uploading the file package or entering the server path.",
                "operationId": "uploadDs",
                "parameters": [
                    {
                        "name": "projectUrl",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "datasetName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[a-zA-Z][a-zA-Z\\d_-]{2,80}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "uploadRequest",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/DatasetUploadRequest"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "description": "file detail",
                                        "format": "binary"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageUploadResult"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectName}/dataset/{datasetName}/uri/sign-links": {
            "post": {
                "tags": [
                    "Dataset"
                ],
                "summary": "Sign SWDS uris to get a batch of temporarily accessible links",
                "description": "Sign SWDS uris to get a batch of temporarily accessible links",
                "operationId": "signLinks",
                "parameters": [
                    {
                        "name": "projectName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "datasetName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expTimeMillis",
                        "in": "query",
                        "description": "the link will be expired after expTimeMillis",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "uniqueItems": true,
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageMapObjectObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/project/{projectName}/dataset/{datasetName}/hashedBlob/{hash}": {
            "post": {
                "tags": [
                    "Dataset"
                ],
                "summary": "Upload a hashed BLOB to dataset object store",
                "description": "Upload a hashed BLOB to dataset object store, returns a uri of the main storage",
                "operationId": "uploadHashedBlob",
                "parameters": [
                    {
                        "name": "projectName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "datasetName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[a-zA-Z][a-zA-Z\\d_-]{2,80}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "hash",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "file"
                                ],
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "description": "file content",
                                        "format": "binary"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            },
            "head": {
                "tags": [
                    "Dataset"
                ],
                "summary": "Test if a hashed blob exists in this dataset",
                "description": "404 if not exists; 200 if exists",
                "operationId": "headHashedBlob",
                "parameters": [
                    {
                        "name": "projectName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "datasetName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "hash",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/panel/setting/{project_id}/{key}": {
            "get": {
                "tags": [
                    "Panel"
                ],
                "summary": "Get panel setting",
                "description": "Get panel setting by project and key",
                "operationId": "getPanelSetting",
                "parameters": [
                    {
                        "name": "project_id",
                        "in": "path",
                        "description": "Project id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "description": "Setting key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Panel"
                ],
                "summary": "Save panel setting",
                "description": "Save panel setting by project and key",
                "operationId": "setPanelSetting",
                "parameters": [
                    {
                        "name": "project_id",
                        "in": "path",
                        "description": "Project id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "description": "Setting key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessageString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/panel/plugin": {
            "get": {
                "tags": [
                    "Panel"
                ],
                "summary": "List all plugins",
                "description": "List all plugins",
                "operationId": "pluginList",
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseMessagePageInfoPanelPluginVo"
                                }
                            }
                        }
[...]
