body {
  margin: 0;
  font-family: Consolas, Inter-Regular, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

[data-baseweb="toaster"],
[data-baseweb="modal"],
[data-baseweb="popover"] {
  z-index: 1000;
}

/* inter-blod */
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url("./assets/fonts/Inter-Bold.woff2?v=3.19") format("woff2"),
       url("./assets/fonts/Inter-Bold.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter-Regular';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url("./assets/fonts/Inter-Regular.woff") format("woff2"),
       url("./assets/fonts/Inter-Regular.woff2") format("woff");
}

