
// for login only
form .agreement a {
    font-size: 12px;
    padding: 0 4px;
    text-decoration: none;
  }

  form .agreement p {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 7px;
  }