name: Release Starwhale base Docker Image

on:
  pull_request:
    types: [ opened, reopened ]
  #workflow_dispatch
  #After fixing the rebuild issue, we can enable push option.
  #push:
  #  branches:
  #    - main

jobs:
  starwhale-base-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2.1.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2.1.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.5.0

      - name: Build and push base image
        working-directory: ./docker
        run: make build-release-base

      - name: Build and push cuda-base image
        working-directory: ./docker
        run: make build-cuda

      - name: Build and push server-base image
        working-directory: ./docker
        run: make build-release-base-server

      - name: Build and push nodejs base image
        working-directory: ./docker
        run: make build-nodejs
